---
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import Header from '../../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';
import { fetchGraphQLPosts } from '../../lib/graphQl';
const pageTitle = "Grow Your Own Medicine – Medicinal Garden Kit";
const pageDescription = "Discover how you can grow 10 essential medicinal plants in your backyard. Order your Medicinal Garden Kit today!";
const posts = await fetchGraphQLPosts(); // <-- GraphQL ашиглаж байна
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          {posts.map((post) => (
            <li>
              <a href={`/blog/${post.slug}/`}>
                {post.featuredImage?.node?.sourceUrl && (
                  <img
                    width="720"
                    height="360"
                    src={post.featuredImage.node.sourceUrl}
                    alt={post.title}
                  />
                )}
                <h4 class="title">{post.title}</h4>
                <p class="date">
                  <FormattedDate date={new Date(post.date)} />
                </p>
              </a>
            </li>
          ))}
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
